<form class="mblog-card" [formGroup]="form" (ngSubmit)="edit()">
    <h2 class="mblog-card__header">Post</h2>

    <div class="mblog-content-vertical">
        <div class="mblog-form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" />
            <div
                class="mblog-validation"
                *ngIf="form.get('title').touched && form.get('title').invalid"
            >
                title
            </div>
        </div>

        <div class="mblog-form-group">
            <label for="text">Text</label>
            <quill-editor formControlName="text"></quill-editor>
            <div
                class="mblog-validation"
                *ngIf="form.get('text').touched && form.get('text').invalid"
            >
                text
            </div>
        </div>

        <button
            type="submit"
            class="mblog-button mblog-button--block mblog-button--primary"
            [disabled]="form.invalid"
        >
            Edit
        </button>
    </div>
</form>
