<form class="mblog-card mblog-login" [formGroup]="form" (ngSubmit)="login()">
    <h2 class="mblog-card__header">Authorization</h2>

    <div class="mblog-alert mblog-alert--danger" *ngIf="authService.error$ | async as error">
        {{ error }}
    </div>

    <div class="mblog-content-vertical">
        <div class="mblog-form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" />
            <div
                class="mblog-validation"
                *ngIf="form.get('email').touched && form.get('email').invalid"
            >
                email
            </div>
        </div>

        <div class="mblog-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
            <div
                class="mblog-validation"
                *ngIf="form.get('password').touched && form.get('password').invalid"
            >
                password
            </div>
        </div>
    </div>

    <div class="mblog-login__footer">
        <button
            type="submit"
            class="mblog-button mblog-button--block mblog-button--primary"
            [disabled]="form.invalid"
        >
            Login
        </button>
    </div>
</form>
