@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

@import 'theming/normalize';
@import 'theming/mblog-alert';
@import 'theming/mblog-button';
@import 'theming/layout';
@import 'theming/common';
@import 'theming/ql-editor';

:root {
    --primary-color: #3b49df;
    --primary-light-color: #4a56d4;
    --dark-color: #333;
    --dark-light-color: #b5bdc4;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --body-color: #eef0f1;
}
